* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/* debug */

.debug .site_header {
    height: 100px;
}

.debug aside {
    background-color: red;
}

.debug .nav_bar {
    background-color: navy;
}

.debug .hero_image {
    background-color: lightblue;
}

.debug .luogo {
    height: 500Px;
    background-color: lightcoral;
}

.debug .dove {
    height: 500Px;
    background-color: lightgray;
}

.debug .fandom {
    height: 500Px;
    background-color: lightpink;
}

.debug .tecnologia {
    height: 500Px;
    background-color: lightseagreen;
}

.debug .site_footer {
    height: 500Px;
    background-color: black;
    color: white;
}

/* common */

.site_header {
    width: 100%;
}

.content {
    width: 1170px;
    margin: auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* utility */

.bg-gray {
    background-color: #f6f6f6;
}

.luogo, .dove, .fandom, .tecnologia {
    padding: 7rem 0;
}

.image_script, .text_script {
    text-align: left;
}

.luogo img, .dove img, .fandom img {
    height: 450px;
}

.luogo .text_script, .dove .text_script, .fandom .text_script {
    padding-left: 5rem;
    padding-top: 1rem;
}

main p {
    font-size: large;
}

main h2 {
    font-size: 3rem;
}

.text_script h2 {
    margin-bottom: 1.5rem;
}

/* header */

.site_header {
    background-color: #255ee9;
}

.site_header .header .nav_bar {
    text-align: center;
}

.header .logo, .header .nav_bar, .header .accedi {
    float: left;
    color: white;
    padding: 1.5rem 0;
    font-size: 0.9rem;
}

.header aside {
    width: 20%;
}

.header .nav_bar {
    width: 60%;
}

.header .logo img {
    height: 2rem;
}

.header .nav_bar ul {
    padding: 0.5rem 0;
}

.header .nav_bar li {
    display: inline;
    padding: 0 1rem;
}

.header .nav_bar a {
    text-decoration: none;
    color: white;
}

.header .accedi {
    text-align: right;
}

.header .bt_accedi {
    background-color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 30px;
    font-size: 0.9rem;
}

/* main */

/* hero */

.hero_image {
    width: 100%;
    height: 507Px;
    position: relative;
    background-image: url("../img/jumbo.png");
    background-size: cover;
}

.hero_image .hero_text {
    width: 1170px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding-bottom: 5rem;
}

.hero_image .hero_text h1 {
    color: white;
    margin: 2rem 0;
    font-size: 3rem;
}

.hero_image .hero_text p {
    color: white;
    margin: 1rem 0;
    width: 61%;
    margin: 1rem auto;
    font-size: large;
}

.hero_image .hero_text .scarica {
    background-color: white;
    border: none;
    padding: 1rem 1.5rem;
    border-radius: 30px;
    margin: 1rem;
    font-size: large;
}

.hero_image .hero_text .apri {
    background-color: #23272a;
    color: white;
    border: none;
    padding: 1rem 1.5rem;
    border-radius: 30px;
    margin: 1rem;
    font-size: large;
}

/* luogo */

.luogo .image_script {
    float: left;
    width: 60%;
}

.luogo .text_script {
    float: left;
    width: 40%;
}

/* dove */

.dove .text_script {
    float: left;
    width: 40%;
}

.dove .image_script {
    float: left;
    width: 60%;
}

/* fandom */

.fandom .image_script {
    float: left;
    width: 60%;
}

.fandom .text_script {
    float: left;
    width: 40%;
}

/* tecnologoia */

.tecnologia .text_script, .tecnologia .image_script, .tecnologia .call_to_action {
    text-align: center;
}

.tecnologia .image_script {
    margin: 1rem 0;
}

.tecnologia .text_script {
    padding: 0 3rem;
}

.tecnologia img {
    width: 100%;
}

.tecnologia .call_to_action {
    position: relative;
    padding-top: 2.5rem;
}

.tecnologia .call_to_action img {
    height: 53px;
    position: absolute;
    top: 0;
    left: 0;
}

.tecnologia .call_to_action h3 {
    font-size: 1.7rem;
}

.tecnologia .call_to_action button {
    background-color: #5865f2;
    color: white;
    border: none;
    padding: 1rem 1.5rem;
    border-radius: 30px;
    margin: 2rem;
    font-size: large;
}

/* footer */

.top_footer {
    border-bottom: 1px solid purple;
}

.top_footer .contatti {
    float: left;
    width: 33.33%;
}

.top_footer .prodotto, .top_footer .compagnia, .top_footer .risorse, .top_footer .norme {
    float: left;
    width: 16.66%;
}

.top_footer .social li {
    display: inline;
}

.top_footer li {
    list-style: none;
    padding: 0.5rem 0;
    padding-right: 1rem;
}

.top_footer a {
    text-decoration: none;
    color: white;
}

.top_footer .lingua {
    height: 1rem;
    line-height: 1rem;
}

.top_footer .lingua img {
    height: 1rem;
    vertical-align: middle;
}

.top_footer .lingua select {
    color: white;
    background-color: inherit;
    border: none;
}

/* bottom footer */

.bottom_footer {
    padding-top: 2rem;
}

.bottom_footer .logo_footer {
    float: left;
    width: 50%;
}

.bottom_footer .registrati {
    float: left;
    width: 50%;
    text-align: right;
}