* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* debug */

.debug .site_header {
    height: 100px;
    background-color: blue;
}

.debug aside {
    background-color: red;
}

.debug .nav_bar {
    background-color: navy;
}

.debug .hero_image {
    height: 500Px;
    background-color: lightblue;
}

.debug .luogo {
    height: 500Px;
    background-color: lightcoral;
}

.debug .dove {
    height: 500Px;
    background-color: lightgray;
}

.debug .fandom {
    height: 500Px;
    background-color: lightpink;
}

.debug .tecnologia {
    height: 500Px;
    background-color: lightseagreen;
}

.debug .site_footer {
    height: 500Px;
    background-color: black;
    color: white;
}

/* common */

.site_header {
    width: 100%;
}

.content {
    width: 1170px;
    margin: auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* header */

.site_header .header .nav_bar {
    text-align: center;
}

.header .logo, .header .nav_bar, .header .accedi {
    float: left;
    color: white;
    padding: 2rem 0;
}

.header aside {
    width: 20%;
}

.header .nav_bar {
    width: 60%;
}

.header .logo img {
    height: 2rem;
}

.header .nav_bar ul {
    padding: 0.5rem 0;
}

.header .nav_bar li {
    display: inline;
    padding: 0 1rem;
}

.header .nav_bar a {
    text-decoration: none;
    color: white;
}

.header .accedi {
    text-align: right;
}

.header .bt_accedi {
    background-color: white;
    padding: 0.5rem;
    border-radius: 35%;
}

/* main */

/* hero */

.hero_image {
    width: 100%;
    position: relative;
}

.hero_image .hero_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* luogo */

.image_script, .text_script {
    text-align: left;
}

.luogo .image_script {
    float: left;
    width: 66.66%;
}

.luogo .text_script {
    float: left;
    width: 33.33%;
}

/* dove */

.dove .text_script {
    float: left;
    width: 33.33%;
}

.dove .image_script {
    float: left;
    width: 66.66%;
}

/* fandom */

.fandom .image_script {
    float: left;
    width: 66.66%;
}

.fandom .text_script {
    float: left;
    width: 33.33%;
}

/* tecnologoia */

.tecnologia .text_script, .tecnologia .image_script, .tecnologia .call_to_action {
    text-align: center;
}

/* footer */

.top_footer {
    border-bottom: 1px solid purple;
}

.top_footer .contatti {
    float: left;
    width: 33.33%;
}

.top_footer .prodotto, .top_footer .compagnia, .top_footer .risorse, .top_footer .norme {
    float: left;
    width: 16.66%;
}

.top_footer .social li {
    display: inline;
}

.top_footer li {
    list-style: none;
    padding: 0.5rem 0;
    padding-right: 1rem;
}

.top_footer a {
    text-decoration: none;
    color: white;
}

.top_footer .lingua {
    height: 1rem;
    line-height: 1rem;
}

.top_footer .lingua img {
    height: 1rem;
    vertical-align: middle;
}

.top_footer .lingua select {
    color: white;
    background-color: inherit;
    border: none;
}

/* bottom footer */

.bottom_footer {
    padding-top: 2rem;
}

.bottom_footer .logo_footer {
    float: left;
    width: 50%;
}

.bottom_footer .registrati {
    float: left;
    width: 50%;
    text-align: right;
}